<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Obsidian</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
        </style>
    </head>
    <body onload="frameLoad()">
        <div id="content">
            <iframe width="100%" height="100%" frameborder="0" id="pf" src=""></iframe>
        </div>
<script src="/assets/js/index.js"></script>
<script src="/uv/uv.bundle.js"></script>
<script src="/uv/uv.config.js"></script>
    </body>
</html>
