<!DOCTYPE html>
<html lang="en" data-theme="night" >
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Obsidian</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
   <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.20/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
   <div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="/games">Games</a></li>
      <li><a href="/apps">Apps</a></li>
      <li><a href="/emulator">Emulator</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl"><i class="fa-solid fa-globe"></i></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/games">Games</a></li>
      <li><a href="/apps">Apps</a></li>
      <li><a href="/emulator">Emulator</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn" href="https://discord.gg/EfD3GZ4DuA" ><i class="fa-brands fa-discord"></i></a>
  </div>
</div>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-7xl font-bold">Obsidian</h1><br>
<form class="join">
          <input class="input input-bordered w-full join-item" placeholder="Search the web freely"/>
          <button type="submit" style="border: 1px solid; border-color: var(--fallback-bc,oklch(var(--bc)/.2));border-radius: var(--rounded-btn,.5rem);border-top-left-radius: 0;border-bottom-left-radius: 0;" class="btn join-item btn-bordered">Go</button>

        </form> 
    </div>
  </div>
</div>
<script src="/assets/js/index.js"></script>
<script src="/uv/uv.bundle.js"></script>
<script src="/uv/uv.config.js"></script>
</body>
</html>
